* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#4e88ae), to(#161696));
  background: linear-gradient(0.25turn, #4e88ae, #161696);
  color: aliceblue;
}

.hidden {
  opacity: 0;
}

h1 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.home {
  margin: 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px 0;
}

.nav-menu {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 22px;
}

.nav-menu ul {
  text-align: right;
}

.nav-menu ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: aliceblue;
}

.btn span {
  font-size: medium;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container-home {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 20px 30px;
}

.container-home h2 {
  text-transform: uppercase;
  font-size: 15px;
}

.container-home h1 {
  font-weight: 700;
}

.p {
  opacity: 0.7;
}

hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.img {
  display: block;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  margin-top: 20px;
}

button {
  color: aliceblue;
  background-color: rgba(255, 90, 1, 0.851);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 15px;
}

button:hover {
  background: #fdeee7;
  color: #ff5a05;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn {
  font-size: medium;
}

.btn-trail {
  background: inherit;
  border: solid 0.5px rgba(255, 255, 255, 0.3);
}

.about {
  width: 100%;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos__raw {
  padding: 0 100px 0;
  padding-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 10px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.logos__item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 261px;
  height: 82px;
  -webkit-box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.08);
}

.img-about {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newtransaction {
  position: absolute;
  background: white;
  -webkit-box-shadow: 20px 30px 70px rgba(3, 7, 37, 0.06);
          box-shadow: 20px 30px 70px rgba(3, 7, 37, 0.06);
  border-radius: 10px;
  bottom: -775px;
  left: 160px;
}

.newtransaction-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.newtransaction__title {
  padding: 20px;
}

.newtransaction-contacts {
  padding: 0 20px 10px;
  cursor: pointer;
}

.active {
  color: #ff5a05;
}

.new-transfer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0 0 5px;
}

.new-transfer--text {
  vertical-align: top;
  font-size: 13px;
}

.contact-transaction {
  padding: 5px;
  text-align: center;
}

.newtransaction-send {
  padding: 0 10px 0;
  margin: 0 10px 0;
}

.contact-transaction--name {
  font-size: 13px;
}

.new-transaction--sum {
  border: solid 1px blue;
  border-radius: 3px;
  padding: 15px;
  width: 150px;
  text-align: right;
  font-size: 15px;
}

.btn-transfer {
  width: 150px;
  padding: 15px;
  font-size: 15px;
}

.content-about {
  display: -ms-grid;
  display: grid;
  place-items: left;
  width: 600px;
  margin: 40px 0 0 100px;
}

.content-about__title {
  text-align: left;
  font-size: 50px;
}

.content-about__container--text {
  height: 100px;
  font-size: 20px;
  font-weight: 300;
  width: 600px;
}

.chbox {
  display: none;
}

.content-about--chboxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label {
  font-size: 20px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.label::before {
  position: relative;
  content: '';
  background: url(../img/circle.png) center/cover no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.label:hover {
  color: #ff5a05;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.vector-check {
  width: 13px;
  height: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  position: absolute;
  margin-left: 6px;
  margin-top: 3px;
}

.learn-more {
  padding: 15px 30px;
  font-size: 20px;
  width: 169px;
  height: 62px;
  background: #ff5a05;
  border-radius: 4px;
}

.cards-about {
  width: 100%;
  height: 500px;
  background: url(../img/bg1.png) center no-repeat;
}

.container-for__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  gap: 0 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  -webkit-box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.04);
          box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.04);
  width: 200px;
  height: 150px;
  padding-top: 20px;
  text-align: center;
  margin: 0 20px;
  background: #fff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.card-number {
  color: #1f37ff;
  font-size: 55px;
  font-weight: 700;
}

.card-text {
  font-size: 20px;
  font-style: normal;
  opacity: 0.7;
}

.card:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-top: -10px;
}

.testimonial {
  width: 100%;
}

.testimonial-bigcontainer {
  background: #fff9f5;
  width: 100%;
}

.testimonial .container {
  text-align: center;
  color: black;
  padding: 50px 0;
}

.content-testimonial {
  display: inline-block;
  background: white;
  border: 2px solid rgba(66, 82, 207, 0.1);
  border-radius: 10px;
  width: 358px;
  height: 284px;
  vertical-align: top;
  text-align: left;
  padding: 20px 30px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-top: 20px;
}

.content-testimonial p {
  padding-top: 20px;
}

.content-testimonial img {
  padding-bottom: 20px;
  width: 58px;
  height: 75px;
}

.content-title {
  font-size: 20px;
  color: #ff5a05;
  text-transform: uppercase;
  padding-bottom: 15px;
  letter-spacing: 0.05em;
  line-height: 160%;
}

.content-text {
  border: none;
  background: inherit;
  text-align: left;
  padding-left: 10px;
}

.content-blue {
  background-color: #4252cf;
}

.content-testimonial:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-top: -1px;
}

.testimonial-userreview {
  background: white;
  color: black;
  margin-top: -10px;
}

.slider {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 509px;
  width: 100%;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.userreview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 550px;
  height: 400px;
}

.userreview-content h1 {
  margin-left: 95px;
  text-align: left;
}

.userreview-container__content {
  margin-top: 150px;
  text-align: left;
  position: relative;
}

.userreview-text__about,
.userreview-text {
  -webkit-box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.04);
          box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.04);
  padding: 20px;
  background: white;
}

.userreview-text {
  width: 250px;
  position: absolute;
  left: 100px;
  top: 0;
}

.userreview-text h3 {
  font-weight: 600;
}

.userreview-text h4 {
  font-weight: 400;
}

.userreview-text__about {
  left: 100px;
  position: absolute;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.userreview-stars {
  position: absolute;
  right: 30px;
  padding: 20px;
  font-size: 20px;
}

.userreview-stars .checked {
  color: orange;
}

.userreview-img {
  position: relative;
}

.quotes {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  height: 125px;
  background: #1f37ff;
  border-radius: 62.5px 62.5px 62.5px 0px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.fa-quote-right {
  position: absolute;
  color: white;
  font-size: 40px;
}

.pricing {
  background: white;
  position: relative;
  color: black;
  width: 100%;
}

.pricing::before {
  content: '';
  background: #ebedff;
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 100;
  margin-bottom: 30px;
  z-index: 1;
}

.pricing .container {
  position: relative;
  z-index: 2;
}

.pricing-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  width: 100%;
  text-align: center;
}

.pricing-title h1 {
  line-height: 160%;
}

.pticing-title__btns {
  background: white;
  width: 300px;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pticing-title__btns button {
  font-size: 20px;
  width: 100px;
  border-radius: 15px;
}

.pticing-title__btns button:hover {
  background: gray;
  color: white;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.disabled {
  background: #fdeee7;
  color: #ff5a05;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-cards .pricing-card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  border-radius: 10px;
  height: 600px;
  width: 400px;
  margin: 0 20px;
  padding: 50px;
  -webkit-box-shadow: 20px 30px 70px rgba(3, 7, 37, 0.06);
          box-shadow: 20px 30px 70px rgba(3, 7, 37, 0.06);
}

.pricing-cards .pricing-card ul {
  list-style: none;
}

.pricing-cards .pricing-card ul li {
  padding: 10px 0;
}

.pricing-cards .pricing-card ul li::before {
  margin-right: 5px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f058';
  color: #1f37ff;
}

.triangle {
  width: 140px;
  height: 140px;
  margin: -115px auto 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #1f37ff;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 70px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.triangle i {
  padding-top: 80px;
  font-size: 30px;
  color: white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.pricing-card__title {
  margin: 20px auto;
  text-align: center;
}

.pricing-card__title .pricing-edition {
  font-size: 30px;
}

.pricing-card__title .pricing-price {
  font-size: 6rem;
  text-align: center;
  color: #1f37ff;
}

.pricing-card__info {
  margin: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricing-pack {
  font-weight: 400;
}

.pricing-newsletter {
  margin: 10% auto;
}

.newsletter-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
  background: #fdeee7;
  border-radius: 30px;
  padding: 10vh 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 40px -20px 0 #fdeee785, 80px -40px 0 #fdeee752;
          box-shadow: 40px -20px 0 #fdeee785, 80px -40px 0 #fdeee752;
}

.newsletter-container:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffd7b6;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.newsletter-container .newsletter-form {
  border: 2px solid rgba(5, 0, 11, 0.1);
  border-radius: 10px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  -ms-flex-item-align: center;
      align-self: center;
}

.newsletter-container .newsletter-form input {
  background: inherit;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 500;
  outline: none;
  width: 60%;
}

.footer {
  background: #04085952;
}

.footer-container {
  padding: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10vw;
}

.logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer-item {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh 0;
}

.footer-item li {
  list-style: none;
  margin-top: 2vh;
  color: rgba(255, 255, 255, 0.358);
}

.fixed {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 3;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 2.5rem 1rem;
}
/*# sourceMappingURL=styles.css.map */